body {
  background: #d7e5f7;
  font-family: arial;
  margin: 0;
}

header {
  background-color: white;
}


nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;

}

nav ul li {
  display: inline-block;
  background-color: white;
  padding: 5px 10px 5px 10px;
  margin-right: 30px;
  cursor: pointer;
}

nav ul li a {
  color: black;
  font-family: monospace;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

.clicker:hover{
    background:#bbb;
    color: white;
    padding: 15px 10px 15px 10px; 
}

/*.row {

}

.col {
  float: left;
  background-color: #999;
  padding: 20 px;
  margin: 1%;
  width: 31%;
  border-radius: 10px;
}*/

h1{
  font-family: monospace; 
  font-size: 40px; 
}

h2 {
  display:inline;
  color:black;
  text-align:center;
  margin: 10px;
}

h3 {
  color:black;
  margin: 10px;

}

a {
  color: black;
  margin: 10px;
}

h4 {
  color:darkblue;
  margin: 10px;
}

p {
  text-align:center;
  border: 2px dotted black;
  background-color: white;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

div {
  margin: 10px;
  background-color: #fcf3c7;
}

/*pre {
  text-align:right;
  font-family: arial;
}

.mystery {
  color:black;
  background-color:white;
  text-align: right;
}*/

#special {
  background-color: black;
  color:white;
  padding:3px;
  display:inline;
  margin: 10px;
}
