ul {
    list-style-type: none;
    margin-right: 80px;
    margin-top: 70px;
    padding: 0;
}

li {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: monospace;
    font-size: 13px;
    font-weight: 500;
    float: right;
}

a {
    display: block;
    color: #e9f5ea;
    text-decoration: none;
    margin-right: 60px;
    animation: pop-up 3.5s;
    max-width: 100%;
    transition: transform 160ms;
}

a:hover {
    /* color: darkgreen; */
    transform: scale(1.1);
    /* background: linear-gradient(180deg,rgba(255,255,255,0) 50%,#dfe6d8 60%); */
}

.hello {
    position: absolute;
    top: 100px;
    left: 5%;
    font-family: serif;
    font-size: 90px;
    font-weight: 600;
    color: #993b1f;
    min-width: 600px;
}


.bio {
    position: absolute;
    top: 270px;
    left: 5%;
    width: 40%;
    color: #e9f5ea;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
}

.highlight {
    /* background: linear-gradient(180deg,rgba(255,255,255,0) 50%,rgba(230,150,37,0.2) 60%);  */
    /* background: linear-gradient(180deg,rgba(255,255,255,0) 50%,rgba(245,218,122,0.4) 60%); */
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%,#c48426d2 60%); 
  }

.pic {
    position: relative;
    top: 80px;
    left: 700px;
    width: auto;
    height: auto;
    max-width: 450px;
}
