ul {
    list-style-type: none;
    margin-right: 80px;
    margin-top: 70px;
    padding: 0;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    float: right;
}

a {
    display: block;
    color: #a37407;
    text-decoration: none;
    margin-right: 60px;
    animation: pop-up 3.5s;
    max-width: 100%;
    transition: transform 160ms;
}

a:hover {
    color: darkgreen;
    transform: scale(1.1);
}

.hello {
    position: absolute;
    top: 100px;
    left: 5%;
    font-size: 90px;
    font-weight: 600;
    color: #494791;
    min-width: 600px;
}


.bio {
    position: absolute;
    top: 260px;
    left: 5%;
    width: 40%;
    color: #a37407;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

