ul {
    list-style-type: none;
    margin-right: 80px;
    margin-top: 40px;
    padding: 0;
}

li {
    font-family: Futura;
    font-size: 17px;
    font-style: italic;
    font-variant: normal;
    font-weight: lighter;
    float: right;
}

a {
    display: block;
    text-decoration: none;
    margin-right: 60px;
    animation: pop-up 3.5s;
    max-width: 100%;
    transition: transform 160ms;
    color: #4a8157;
}

a:hover {
    transform: scale(1.1);
    color: #7a1d57;
}

.hello {
    position: absolute;
    top: 80px;
    left: 5%;
    font-family: serif;
    font-size: 90px;
    font-weight: 600;
    color: #7a1d57;
    min-width: 600px;
}


.bio {
    position: absolute;
    top: 250px;
    left: 5%;
    width: 65%;
    color: #4a8157;
    font-family: Futura;
    font-size: 19px;
    font-style: italic;
    font-variant: normal;
    font-weight: lighter;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 40%,#ebebeb 60%); 
  }

.pic {
    position: relative;
    top: 80px;
    left: 700px;
    width: auto;
    height: auto;
    max-width: 450px;
}
